### PROCESSING OF THE SCRAPED DATA

In [2]:
import pandas as pd
import unicodedata
import re
import io

**LOAD DATASETS**

In [3]:
players_stats = pd.read_csv('basketball_reference_stats.csv')
players_stats

                      Player Team   PTS   AST   TRB
0    Shai Gilgeous-Alexander  OKC  32.7   6.4   5.0
1      Giannis Antetokounmpo  MIL  30.4   6.5  11.9
2              Nikola JokiÄ  DEN  29.6  10.2  12.7
3              Luka DonÄiÄ  2TM  28.2   7.7   8.2
4              Luka DonÄiÄ  DAL  28.1   7.8   8.3
..                       ...  ...   ...   ...   ...
731            Jahlil Okafor  IND   0.0   1.0   1.0
732              Zyon Pullin  MEM   0.0   0.0   0.0
733           Isaiah Stevens  MIA   0.0   0.0   0.7
734             Terry Taylor  SAC   0.0   0.7   0.3
735           League Average  NaN   NaN   NaN   NaN

[736 rows x 5 columns]

In [4]:
team_stats = pd.read_csv('nbastuffer_team_stats.csv')
team_stats

,Team,GP,PPG,Opp PPG,Pace,OffRtg,DefRtg,NetRtg,Win%,SoS
0,Atlanta,82,118.2,119.3,102.6,114.6,115.7,-1.1,0.488,-0.27
1,Boston,82,116.3,107.2,95.7,120.6,111.2,9.4,0.744,-1.07
2,Brooklyn,82,105.1,112.2,96.4,108.5,115.8,-7.3,0.317,0.35
3,Charlotte,82,105.1,114.2,97.6,107.3,116.6,-9.3,0.232,0.21
4,Chicago,82,117.8,119.4,102.7,114.3,115.8,-1.5,0.476,0.26
5,Cleveland,82,121.9,112.4,99.8,121.8,112.2,9.6,0.780,-1.49
6,Dallas,82,114.2,115.4,99.2,114.8,116.0,-1.2,0.476,-0.22
7,Denver,82,120.8,116.9,99.8,119.9,116.1,3.8,0.610,0.04
8,Detroit,82,115.5,113.6,99.8,115.0,113.1,1.9,0.537,-0.35
9,Golden State,82,113.8,110.5,98.7,115.0,111.7,3.3,0.585,-0.04
10,Houston,82,114.3,109.8,98.7,115.3,110.7,4.6,0.634,-0.01
11,Indiana,82,117.4,115.1,99.9,116.5,114.3,2.2,0.610,-0.42
12,LA Clippers,82,112.9,108.2,97.4,115.1,110.3,4.8,0.610,0.03
13,LA Lakers,82,113.4,112.2,97.6,115.9,114.7,1.2,0.610,0.18
14,Memphis,82,121.7,116.9,103.1,117.9,113.2,4.7,0.585,-0.24
15,Miami,82,110.6,110.0,96.2,113.5,112.9,0.6,0.451,-0.84
16,Milwaukee,82,115.5,113.0,99.3,115.9,113.5,2.4,0.585,-0.25
17,Minnesota,82,114.3,109.3,97.3,116.6,111.5,5.1,0.598,-0.17
18,New Orleans,82,109.8,119.3,99.1,110.4,119.9,-9.5,0.256,1.66
19,New York,82,115.8,111.7,96.7,118.5,114.3,4.2,0.622,-1.05
20,Oklahoma City,82,120.5,107.6,100.0,120.4,107.5,12.9,0.829,-0.52
21,Orlando,82,105.4,105.5,96.1,109.4,109.5,-0.1,0.500,-0.53
22,Philadelphia,82,109.6,115.8,97.4,111.9,118.3,-6.4,0.293,-0.13
23,Phoenix,82,113.6,116.6,97.1,116.2,119.3,-3.1,0.439,0.32
24,Portland,82,110.9,113.9,98.8,111.7,114.7,-3.0,0.439,1.22
25,Sacramento,82,115.7,115.3,98.1,116.8,116.3,0.5,0.488,-0.18
26,San Antonio,82,113.9,116.7,99.3,114.5,117.2,-2.7,0.415,-0.16
27,Toronto,82,110.9,115.2,99.7,110.5,114.8,-4.3,0.366,-0.10
28,Utah,82,111.9,121.2,100.0,111.2,120.5,-9.3,0.207,1.58
29,Washington,82,108.0,120.4,100.9,106.8,119.1,-12.3,0.220,1.57

**ANALYZE DATA**

In [5]:
# Check for missing values for players_stats
players_stats.isnull().sum()

Player    0
Team      1
PTS       1
AST       1
TRB       1
dtype: int64

In [6]:
# Drop null values in players_stats
players_stats = players_stats.dropna()
players_stats.isnull().sum()

Player    0
Team      0
PTS       0
AST       0
TRB       0
dtype: int64

In [7]:
# Check for missing values for team_stats
team_stats.isnull().sum()

Team       0
GP         0
PPG        0
Opp PPG    0
Pace       0
OffRtg     0
DefRtg     0
NetRtg     0
Win%       0
SoS        0
dtype: int64

In [8]:
# Check for duplicates in players_stats
players_stats.duplicated().sum()

np.int64(0)

In [9]:
# Check for duplicates in team_stats
team_stats.duplicated().sum()

np.int64(0)

In [10]:
# summarize the data types and non-null counts for players_stats
players_stats.info()

<class 'pandas.core.frame.DataFrame'>
Index: 735 entries, 0 to 734
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  735 non-null    object
 1   Team    735 non-null    object
 2   PTS     735 non-null    float64
 3   AST     735 non-null    float64
 4   TRB     735 non-null    float64
dtypes: float64(3), object(2)
memory usage: 34.5+ KB

In [11]:
# summarize the data types and non-null counts for team_stats
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Team     30 non-null     object
 1   GP       30 non-null     int64
 2   PPG      30 non-null     float64
 3   Opp PPG  30 non-null     float64
 4   Pace     30 non-null     float64
 5   OffRtg   30 non-null     float64
 6   DefRtg   30 non-null     float64
 7   NetRtg   30 non-null     float64
 8   Win%     30 non-null     float64
 9   SoS      30 non-null     float64
dtypes: float64(8), int64(1), object(1)
memory usage: 2.5+ KB

**Normalize Player Names**

In [12]:
def normalize_player_names(df, column="Player", ascii_only=False):
    def fix_name(name):
        # First decode/normalize any bad encodings
        if isinstance(name, str):
            try:
                # Convert mis-encoded strings to proper unicode
                name = name.encode('latin1').decode('utf-8')
            except UnicodeEncodeError:
                pass
            except UnicodeDecodeError:
                pass

            # Normalize unicode
            name = unicodedata.normalize('NFKC', name)
        return name

    df[column] = df[column].apply(fix_name)
    return df

In [13]:
players_stats = normalize_player_names(players_stats, column="Player")

C:\Users\Admin\AppData\Local\Temp\ipykernel_20060\1713862716.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].apply(fix_name)

In [14]:
players_stats

                      Player Team   PTS   AST   TRB
0    Shai Gilgeous-Alexander  OKC  32.7   6.4   5.0
1      Giannis Antetokounmpo  MIL  30.4   6.5  11.9
2               Nikola Jokić  DEN  29.6  10.2  12.7
3                Luka Dončić  2TM  28.2   7.7   8.2
4                Luka Dončić  DAL  28.1   7.8   8.3
..                       ...  ...   ...   ...   ...
730              Riley Minix  SAS   0.0   0.0   2.0
731            Jahlil Okafor  IND   0.0   1.0   1.0
732              Zyon Pullin  MEM   0.0   0.0   0.0
733           Isaiah Stevens  MIA   0.0   0.0   0.7
734             Terry Taylor  SAC   0.0   0.7   0.3

[735 rows x 5 columns]

**COMBINE THE 2 TABLES**

In [15]:
# Add team initials column to team_stats
# Map the Initials of every team
team_name_to_code = {
    "Atlanta": "ATL",
    "Boston": "BOS",
    "Brooklyn": "BRK",
    "Charlotte": "CHO",
    "Chicago": "CHI",
    "Cleveland": "CLE",
    "Dallas": "DAL",
    "Denver": "DEN",
    "Detroit": "DET",
    "Golden State": "GSW",
    "Houston": "HOU",
    "Indiana": "IND",
    "LA Clippers": "LAC",
    "LA Lakers": "LAL",  
    "Memphis": "MEM",
    "Miami": "MIA",
    "Milwaukee": "MIL",
    "Minnesota": "MIN",
    "New Orleans": "NOP",
    "New York": "NYK",
    "Oklahoma City": "OKC",
    "Orlando": "ORL",
    "Philadelphia": "PHI",
    "Phoenix": "PHO",
    "Portland": "POR",
    "Sacramento": "SAC",
    "San Antonio": "SAS",
    "Toronto": "TOR",
    "Utah": "UTA",
    "Washington": "WAS"
}

In [16]:
# Add a TeamCode column using the map
team_stats["TeamCode"] = team_stats["Team"].map(team_name_to_code)

# Check for unmatched teams
unmatched = team_stats[team_stats["TeamCode"].isna()]
if not unmatched.empty:
    print("Unmatched team names:\n", unmatched["Team"])

In [17]:
# Merge on team code
df_merged = players_stats.merge(team_stats, left_on="Team", right_on="TeamCode", how="left")

In [18]:
# Drop "TeamCode" column from the merged DataFrame
df_merged.drop(columns=["TeamCode"], inplace=True)

In [19]:
# Check for duplicates in the merged DataFrame
df_merged.duplicated().sum()

np.int64(0)

In [20]:
# Check for null values in the merged DataFrame
df_merged.isnull().sum()

Player      0
Team_x      0
PTS         0
AST         0
TRB         0
Team_y     81
GP         81
PPG        81
Opp PPG    81
Pace       81
OffRtg     81
DefRtg     81
NetRtg     81
Win%       81
SoS        81
dtype: int64

In [21]:
# drop null values in the merged DataFrame
df_merged = df_merged.dropna()
df_merged.isnull().sum()

Player     0
Team_x     0
PTS        0
AST        0
TRB        0
Team_y     0
GP         0
PPG        0
Opp PPG    0
Pace       0
OffRtg     0
DefRtg     0
NetRtg     0
Win%       0
SoS        0
dtype: int64

In [22]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Index: 654 entries, 0 to 734
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   654 non-null    object
 1   Team_x   654 non-null    object
 2   PTS      654 non-null    float64
 3   AST      654 non-null    float64
 4   TRB      654 non-null    float64
 5   Team_y   654 non-null    object
 6   GP       654 non-null    float64
 7   PPG      654 non-null    float64
 8   Opp PPG  654 non-null    float64
 9   Pace     654 non-null    float64
 10  OffRtg   654 non-null    float64
 11  DefRtg   654 non-null    float64
 12  NetRtg   654 non-null    float64
 13  Win%     654 non-null    float64
 14  SoS      654 non-null    float64
dtypes: float64(12), object(3)
memory usage: 81.8+ KB

In [23]:
# Display DataFrame
df_merged

,Player,Team_x,PTS,AST,TRB,Team_y,GP,PPG,Opp PPG,Pace,OffRtg,DefRtg,NetRtg,Win%,SoS
0,Shai Gilgeous-Alexander,OKC,32.7,6.4,5.0,Oklahoma City,82.0,120.5,107.6,100.0,120.4,107.5,12.9,0.829,-0.52
1,Giannis Antetokounmpo,MIL,30.4,6.5,11.9,Milwaukee,82.0,115.5,113.0,99.3,115.9,113.5,2.4,0.585,-0.25
2,Nikola Jokić,DEN,29.6,10.2,12.7,Denver,82.0,120.8,116.9,99.8,119.9,116.1,3.8,0.610,0.04
4,Luka Dončić,DAL,28.1,7.8,8.3,Dallas,82.0,114.2,115.4,99.2,114.8,116.0,-1.2,0.476,-0.22
5,Luka Dončić,LAL,28.2,7.5,8.1,LA Lakers,82.0,113.4,112.2,97.6,115.9,114.7,1.2,0.610,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,Riley Minix,SAS,0.0,0.0,2.0,San Antonio,82.0,113.9,116.7,99.3,114.5,117.2,-2.7,0.415,-0.16
731,Jahlil Okafor,IND,0.0,1.0,1.0,Indiana,82.0,117.4,115.1,99.9,116.5,114.3,2.2,0.610,-0.42
732,Zyon Pullin,MEM,0.0,0.0,0.0,Memphis,82.0,121.7,116.9,103.1,117.9,113.2,4.7,0.585,-0.24
733,Isaiah Stevens,MIA,0.0,0.0,0.7,Miami,82.0,110.6,110.0,96.2,113.5,112.9,0.6,0.451,-0.84
734,Terry Taylor,SAC,0.0,0.7,0.3,Sacramento,82.0,115.7,115.3,98.1,116.8,116.3,0.5,0.488,-0.18

**Rename column names for consistency and cleanliness**

In [24]:
column_rename_map = {
    "Player": "player",
    "Team_x": "team_code",
    "PTS": "pts_per_game",
    "AST": "ast_per_game",
    "TRB": "trb_per_game",
    "Team_y": "team_name",
    "GP": "games_played",
    "PPG": "team_ppg",
    "Opp PPG": "opponent_ppg",
    "Pace": "pace",
    "OffRtg": "offensive_rating",
    "DefRtg": "defensive_rating",
    "NetRtg": "net_rating",
    "Win%": "win_percentage",
    "SoS": "strength_of_schedule"
}

df_merged = df_merged.rename(columns=column_rename_map)
df_merged

,player,team_code,pts_per_game,ast_per_game,trb_per_game,team_name,games_played,team_ppg,opponent_ppg,pace,offensive_rating,defensive_rating,net_rating,win_percentage,strength_of_schedule
0,Shai Gilgeous-Alexander,OKC,32.7,6.4,5.0,Oklahoma City,82.0,120.5,107.6,100.0,120.4,107.5,12.9,0.829,-0.52
1,Giannis Antetokounmpo,MIL,30.4,6.5,11.9,Milwaukee,82.0,115.5,113.0,99.3,115.9,113.5,2.4,0.585,-0.25
2,Nikola Jokić,DEN,29.6,10.2,12.7,Denver,82.0,120.8,116.9,99.8,119.9,116.1,3.8,0.610,0.04
4,Luka Dončić,DAL,28.1,7.8,8.3,Dallas,82.0,114.2,115.4,99.2,114.8,116.0,-1.2,0.476,-0.22
5,Luka Dončić,LAL,28.2,7.5,8.1,LA Lakers,82.0,113.4,112.2,97.6,115.9,114.7,1.2,0.610,0.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,Riley Minix,SAS,0.0,0.0,2.0,San Antonio,82.0,113.9,116.7,99.3,114.5,117.2,-2.7,0.415,-0.16
731,Jahlil Okafor,IND,0.0,1.0,1.0,Indiana,82.0,117.4,115.1,99.9,116.5,114.3,2.2,0.610,-0.42
732,Zyon Pullin,MEM,0.0,0.0,0.0,Memphis,82.0,121.7,116.9,103.1,117.9,113.2,4.7,0.585,-0.24
733,Isaiah Stevens,MIA,0.0,0.0,0.7,Miami,82.0,110.6,110.0,96.2,113.5,112.9,0.6,0.451,-0.84
734,Terry Taylor,SAC,0.0,0.7,0.3,Sacramento,82.0,115.7,115.3,98.1,116.8,116.3,0.5,0.488,-0.18

**EXPORT CLEANED DATAFRAMES TO CSV**

In [ ]:
# Export players_stats to CSV
players_stats.to_csv('players_stats.csv', index=False)

# Export team_stats to CSV
team_stats.to_csv('team_stats.csv', index=False)

# Export merged DataFrame to CSV
df_merged.to_csv('merged_players_team_stats.csv', index=False)